.user-settings{
  margin:0  20px;
  font-family: Montserrat;

}
.user-settings .dp-col{
  border-right: 1px solid rgba(0,0,0,0.3);
  height: 74vh;
}
.user-settings .info-col{
  border-right: 2px solid rgba(0,0,0,0.3);
  height: 74vh;
  
}
.user-settings .user-photo-c .user-photo{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 3px solid #fb9500;
  margin: 30px auto 0 auto;
  padding: 3px;

}
.user-settings .user-photo-c .user-photo img{
  width: 100%;
  height:100%;
  border-radius: 50%;

}
.user-settings-inner-c{
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
  border-radius: 10px;
}
.user-settings .camera-icon-div{
  /* margin: 20px 0 0 0; */
  width: 120px;
  margin: 10px auto 20px auto;
  cursor: pointer;
}
.user-settings .camera-icon-div .camera-icon{
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
.user-settings .camera-icon-div .camera-icon img{
  width: 100%;
  height: 100%;
}
.user-settings .camera-icon-div .upload-photo-h{
  text-align: center;
  color: #fb9500;
  font-size: 13px;
  font-weight: 600;
}
.user-settings .user-info{
  padding:0 20px 0 35px;
}
.user-settings .user-info .heading-div{
  margin: 30px 0 0 0;
  height: 30px;
}
/* .my-fancy-container {
  display: inline-block;
  padding: 5px;
} */
.my-text {
color: #62635d;
font-size: 17px;
margin: 0 15px 0 0;
font-weight: 700;
}
.my-icon1 {
  cursor: pointer;
  margin: 0 4px;
  vertical-align: middle;
  font-size: 18px;
}
.my-icon2 {
  color: #fb9500;
  cursor: pointer;
  margin: 0 4px;
  vertical-align: middle;
  font-size: 18px;
}

.user-settings .user-info .user-data ul{
  list-style: none;
  margin: 50px 0 0 0;
  padding: 0 0 0 10px;
}
.user-settings .user-info .user-data ul li{
margin: 25px 0 0 0;
}
.user-settings .user-info .user-data ul li p{
  /* line-height: 8px; */
  font-size: 14px;
  margin: 0 ;
  font-weight: 700;
}
.user-settings .user-info .user-data ul li p.term{
  color: #fb9500;
}
.user-settings .edit-user-form{
margin: 40px 0 0 0;
}
.user-settings .edit-user-form fieldset{
  border: 2px solid #fb9500;
  padding: 0 10px;
  margin: 15px 0 0 0;
}
.user-settings .edit-user-form fieldset legend{
  width: auto;
  display: inline;
  color: #fb9500;
  font-size: 13px;
  font-weight: 600;
  padding: 0 5px 0 2px;
  margin: 0;
}
.user-settings .edit-user-form fieldset input{
  width: 100%;
  border: none;
  outline: none;
  height: 38px;
  padding: 0;
  font-weight: 700;
}
.user-settings .edit-user-form .update-btn{
background: #fb9500;
margin: 15px 0 0 0;
padding: 0 20px;
outline: none;
height: 35px;
border: none;
}
.com-c{
  padding:30px 20px 0 35px;

}
.user-settings .com-c .heading-div h3{
color: #62635d;
font-size: 17px;
font-weight: 700;
}
.user-settings .com-c .heading-div p{
  font-size: 14px;
  font-weight: 700;
  color: #62635d;
  padding: 0 0 0 10px;
}
.user-settings .com-c .com-options ul{
list-style: none;
padding: 10px 20px 0 10px;
}
.user-settings .com-c .com-options ul li{
  margin: 0 0 30px 0;
}
.user-settings .com-c .com-options ul li h3{
  font-size: 22px;
  font-weight: 700;
  color: #fb9500;
  margin: 0 0 8px 0;
  line-height: 22px;

}
.user-settings .com-c .com-options ul li p{
  font-size: 14px;
  margin: 0 0 8px 0;
  font-weight: 700;
  color: #62635d;
}
.user-settings .com-c .com-options ul li .switch{
  float: right;
  margin: 0 30px 0 0;
  width: 53px;
  height: 28px;
  /* background: #fb9500; */
  border: none;
}
.user-settings .com-c .com-options ul li .switch::after{
  background: #62635d;
  width: 28px;
  height: 28px;
  top: 0px;
  left: 0px;
  /* left: 0px; */
  border-radius: 50%;
    
}
.ant-switch-checked {
  background-color: #fb9500;
}
.ant-switch-checked::after {
  left: 100% !important;
  margin: 0;
}
.update-user-settings-m{
  top: 34%;
  left: 10%;
  /* transform: translateX(50%); */
  /* transform: translateY(-50%); */
  width: 300px;
}
.update-user-settings-m .ant-modal-content{
  width: 320px;
  height: calc(30%);
}
.update-user-settings-m p{
  text-align: center;
  font-size: 20px;
  margin: 15px 0;
  font-weight: 700;
}
.update-user-settings-m .done-icon{
  color: #fb9500;
  font-size: 60px;
  display: block;
  text-align: center;
}
.update-user-settings-m .ant-modal-close-x{
  display: none !important;
}
.update-user-settings-m .ant-modal-footer{
  display: none !important;
}
.edit-user-form .errors{
  font-size: 15px;
  color: rgb(236, 17, 17);
  font-weight: bold;
}
.displaynone{
  display: none;
}