.forgerPassword input,
.forgerPassword textarea,
.forgerPassword .inputStyle .ant-input  {
  background-color: #fb9500 !important;
  border-radius: 100px !important;
  height: 50px;
  margin: 10px 0px 10px 0px;
  text-indent: 15px;
  /* z-index: 50; */
   /* height: 40px;
  padding: 20px;
  margin: 10px 0px 10px 0px; */
}
.forgerPassword input::placeholder, .forgerPassword input[type=text] {
    color: white !important;
    /* font-size: 1em; */
    
  }

  .forgotInputCon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .forgerPassword {
    position: absolute;
  }
  .logoStyle .img{
    width: 250px;
  }
  .inner-Container{
    margin-top: 6%;
  }
  .handelButtonRegisterStyle.againStyle{
    position: relative;
    top: 30px;
    width: 70%;
  }
  .handelButtonRegisterStyle.againStyle:hover{
    background-color: #62635d;
    color: white;
    outline: none;
  }
  .forgotAnimationOn{
    top:-503px;
    z-index: 500;
    box-sizing: border-box;
    position: relative;
    animation: comeOnfromBottom 1.2s linear ;
  }

  @keyframes comeOnfromBottom{
    0%{ top: 300px; z-index: 500; }
    100%{
      top:-503px;
      z-index: 0;
    }
  }

  .forgotAnimationOff{
    position: relative;
    top:300px;
    animation: goOutToBottom 1.5s linear ;
  }


  @keyframes goOutToBottom{
    0%{
      top:-471px
    }
    100%{ top: 300px;}
  }