.itemCont{
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 1px 50px -18px rgba(15, 7, 15, .5);
  -moz-box-shadow: 0px 1px 50px -18px rgba(15, 7, 15, .5);
  box-shadow: 0px 1px 50px -18px rgba(15, 7, 15, .5);
 margin-top: 10px;
 z-index: 200;
}
.innerICon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.innerIConinner{
  width: 90%;
}